<% provide(:title, 'イベントを投稿する') %>
<h1>イベントを投稿する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @event, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :maintitle, "タイトル" %>
      <%= f.text_field :maintitle, class: 'form-control' %>

      <%#= f.label :title_content1 %>
      <%#= f.text_field :title_content1, class: 'form-control' %>
      <%= f.label :content1, "内容" %>
      <%= f.text_area :content1, class: 'form-control', size: "10x10" %>

      <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
